<div class="row">
  <!-- ==================================-->
  <!-- ======= Basic Nav ===== -->
  <!-- ==================================-->
  <div class="col-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Juegos Por Tienda</h4>
        <div class="p-3">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
              Search
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="orderPArrayAsc()">
                Precio: Ascendente
              </button>
              <button ngbDropdownItem (click)="orderPArrayDes()">
                Precio: Descendente
              </button>
              <button ngbDropdownItem (click)="orderTArrayAsc()">
                Nombre: Ascendente
              </button>
              <button ngbDropdownItem (click)="orderTArrayDes()">
                Nombre: Descendente
              </button>
            </div>
          </div>
          <div>
            <br>
            <label>Rango Inicial</label>
            <br>
            <input type="text" #rangoInicial>
            <br>
            <label>Rango Final</label>
            <br>
            <input type="text" #rangoFinal>
            <br><br>
            <button (click)="rango(rangoInicial.value, rangoFinal.value)">Filtrar</button>
            <button id="reload">Reset</button>
          </div>
        </div>
      </div>
      <div class="card-body border-top">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Eneba</a>
            <ng-template ngbNavContent>
              <div class="row">
                <div class="col-md-6 col-lg-3" *ngFor="let blogcard of enebaShop">
                  <div class="card">
                    <img [src]="blogcard.pictureLink" alt="blogs" class="card-img-top" width="300" height="150" />
                    <div class="card-body">
                      <h4 class="card-title">{{ blogcard.title }}</h4>
                      <h6 class="card-subtitle">
                        Tienda: {{ blogcard.shopName }}
                      </h6>
                      <h6 class="card-subtitle">
                        Precio: ${{ blogcard.price }}
                      </h6>
                      <a href="{{ blogcard.linkToShop }}">
                        <button type="button" class="btn btn-primary">
                          Ir al sitio
                        </button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>GOG</a>
            <ng-template ngbNavContent>
              <div class="row">
                <div class="col-md-6 col-lg-3" *ngFor="let blogcard of gogShop">
                  <div class="card">
                    <img [src]="blogcard.pictureLink" alt="blogs" class="card-img-top" width="300" height="150" />
                    <div class="card-body">
                      <h4 class="card-title">{{ blogcard.title }}</h4>
                      <h6 class="card-subtitle">
                        Tienda: {{ blogcard.shopName }}
                      </h6>
                      <h6 class="card-subtitle">
                        Precio: ${{ blogcard.price }}
                      </h6>
                      <a href="{{ blogcard.linkToShop }}">
                        <button type="button" class="btn btn-primary">
                          Ir al sitio
                        </button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>Steam</a>
            <ng-template ngbNavContent>
              <div class="row">
                <div class="col-md-6 col-lg-3" *ngFor="let blogcard of steamShop">
                  <div class="card">
                    <img [src]="blogcard.pictureLink" alt="blogs" class="card-img-top" width="300" height="150" />
                    <div class="card-body">
                      <h4 class="card-title">{{ blogcard.title }}</h4>
                      <h6 class="card-subtitle">
                        Tienda: {{ blogcard.shopName }}
                      </h6>
                      <h6 class="card-subtitle">
                        Precio: ${{ blogcard.price }}
                      </h6>
                      <a href="{{ blogcard.linkToShop }}">
                        <button type="button" class="btn btn-primary">
                          Ir al sitio
                        </button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</div>